<html>
<style>
    head {background-color: aquamarine;}
    body {background-color: aquamarine; text-align: center; color: black; font-family: helvetica;}
    table, th, td {border: 1px solid black}
    .center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<head>
  <h1 style="color: black;text-align:center;font-family:helvetica;"> Title </h1>
</head>
<body>
  <h3> Multiplications </h3>
<table class="center">
  <tr>
    <th>x</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </tr>
  <tr>
    <td>5</td>
    <td>5</td>
    <td>10</td>
    <td>15</td>
    <td>20</td>
    <td>25</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>20</td>
    <td>30</td>
    <td>40</td>
    <td>50</td>
  </tr>
</table>

<br>
<form>
  <label for="fname">5 x 1?</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">10 x 2?</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
  <label for="lname">10 x 4?</label><br>
  <input type="text" id="lname" name="lname" value="">
</form>
</body>

</html>
<br>
<br>
<br>
<script src="./var.js"></script>
<button type="button" onclick="getDate()">Get The Date</button>
<p id="date"></p>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body>
    <div id="app">
        <!-- check the  data -->
      <div 
        v-for="todo in todos"
        :key="todo.title"
        :style="{ textDecoration: todo.checked? 'line-through':'none' }"
      >
        <input type="checkbox" v-model="todo.checked" />
        {{ todo.title}}
      </div>
    </div>
</body>
<script src="./todo.js"></script>